.document-container {
  max-width: 98vw;
  margin: 0 auto;
  padding: 24px;
}

.document-layout {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: 900px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.document-metadata {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 900px) {
    min-width: 400px;
    width: 30%;
    max-width: 500px;
  }

  height: auto;
  min-height: auto;
}

.document-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
}

h1 {
  margin-bottom: 0;
  width: 100%;
  white-space: normal;
  overflow: visible;
  text-overflow: clip;

  @media (min-width: 600px) {
    flex: 1;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }
}

.document-description {
  font-style: italic;
  color: rgba(0, 0, 0, 0.65);
}

.document-content {
  flex: 1;
  max-height: 60vh;
  overflow-y: auto;

  @media (min-width: 900px) {
    width: 70%;
    max-height: 80vh;
  }
}

.document-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.likes {
  font-size: 16px;

  i {
    margin-right: 8px;
  }
}

// Ensure nz-tag doesn't stretch
:host ::ng-deep nz-tag {
  display: inline-block;
  flex-shrink: 0;
}

// Ensure the nz-card component allows its content to determine its height
:host ::ng-deep .document-metadata.ant-card .ant-card-body {
  height: auto;
  display: flex;
  flex-direction: column;
}