@import "../node_modules/ng-zorro-antd/ng-zorro-antd.variable.less";

@blue: #a2d2ff;
@light-blue: #bde0fe;
@pink: #ffafcc;
@light-pink: #ffc8dd;
@purple: #cdb4db;
@eggshell: #f9f7f3;
@border-grey: #d0d7deb3;
@github-light-lavender: #F6F8FA;
@white: #fffffc;

@border-radius-base: 7px;

@btn-border-radius-base: 7px;
@card-radius: 20px;
@tag-border-radius: 7px;

body {
}

.ant-card {
  border-radius: @card-radius;
  border: 1px solid @border-grey;
}

.ant-page-header {
  border-bottom: 1px solid @border-grey; 
  background-color: @github-light-lavender;
}

[nz-button] {
  background-color: #2f2f2f !important;
  color: white !important;
  border: none;

  &:active,
  &:focus,
  &:hover {
    background-color: #3f3f3f !important;
    color: white !important;
    border: none;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px rgba(47, 47, 47, 0.2);
  }

  span {
    color: white !important;
  }
}

.document-metadata{
  background-color: @github-light-lavender;
}